{% block content %}
  <section class="hero background">

    {% if block.swipe | length %}
      <section class="swipe">
        <a class="close" href="/#{{block.slug}}">
          {{ craft.inlin.er('/media/icons/x.svg') | raw }}
        </a>
        <div class="images">
        {% for image in block.swipe %}
          <img src="{{ image.url() }}"/>
        {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if block.images | length  %}
      <section
      class="gallery {{ block.alignBottom ? 'alignBottom' }} {% if block.highlight%} highlight{% endif %}"
      {% if block.cssStyles %} style="{{block.cssStyles}}"{% endif %}
      >
        <div class="container">
        {% for image in block.images %}
        <figure>
          <img
            src="{{image.url}}"
            data-zoom-target="{{image.url}}"
            alt="HD zoom on thumb image"
            {% if image.noZoom == 1 %}{% else %}data-action="zoom"{% endif %}
          >
          {% if image.paragraph is defined %}<figcaption>{{image.paragraph}}</figcaption>{% endif %}
        </figure>
        {% endfor %}
        </div>
      </section>
    {% endif %}

  </section>
{% endblock %}
