{% block content %}
  <style>
    @media screen and (min-width: 1000px) {
      .hideMobile {
        display: block!important;
      }
      .hideDesktop {
        display: none;
      }
    }

  </style>
  <section class="homeHero">
    <div class="headline">
      <div class="hideMobile" style="display: none;">{{block.headlineDesktop}}</div>
      <div class="hideDesktop">{{block.headlineMobile}}</div>
      <a class="button email" href="mailto:hello@leah.today" onClick="return false;" data-clipboard-text="hello@leah.today">{{ craft.inlin.er('/media/icons/envelope.svg') | raw }} Email Leah</a>
    </div>

    {% if block.video | length %}
      {% set project = block.project.first() %}
      <a class="card" id="{{project.slug}}" href="/{{project.uri}}">
        <div class="video">
          {{ craft.inlin.er('/media/icons/finger-white.svg') | raw }}
          {% for block in block.video %}
            <video muted playsinline loop autoplay poster="{{block.placeholderImage.first().url}}">
              <source src="{{block.video.first().url}}" type="video/mp4">
            </video>
          {% endfor %}
          <button>Leah Prince</button>
        </div>
      </a>
    {% endif %}
  </section>
{% endblock %}
